.heading input{
    width: 100%;
}

.detail{
    overflow: auto;
}
.carddetail{
    width: 80%;
    height: 20%;
    background-color: pink;
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
}